.box-answer {
  border-radius: 20px;
  margin-top: 10px;
  background: linear-gradient(83.47deg, #ffcb08 9.02%, #ff9600 90.81%);
  padding: 5px;
  width: auto;
}

.list-answer {
  background: #fff;
  width: auto;
  border-radius: 15px;
  padding: 12pt 20pt;
}

.inputs {
  width: 25px;
  margin: 3px;
  height: 30px;
  border: none;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 4px solid #b9b9b9;

  &:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
